@import "../../styles/mixin";

.page-order-list {
  width: 100%;
  .tab-wrap {
    background: white;
    position: sticky;
    top: 0;
    display: -webkit-box;
    line-height: rpx2(44);
    //border-bottom: rpx(1) solid $border-color;
    .item {
      //width: 1%;
      -webkit-box-flex: 1;
      margin: 0 rpx2(10);
      text-align: center;
      position: relative;
      font-size: rpx2(14);
      border-bottom: rpx2(2) solid white;
      &.active {
        font-size: rpx2(16);
        font-weight: bold;
        border-color: $primary;
        //&:before {
        //  content: ' ';
        //  position: absolute;
        //  left: rpx2(15);
        //  bottom: 0;
        //  width: 100%;
        //  height: rpx2(2);
        //  background: #e62b00;
        //}
      }
    }

  }

  .no-data {
    .icon-wrap {
      width: rpx2(155);
      height: rpx2(155);
      margin: rpx2(150) auto 0;
      line-height: rpx2(155);
      text-align: center;
      background: $img-default-bg;
      border-radius: 50%;
      font-size: rpx2(80);
      color: white;
    }
  }

  .list-wrap {
    padding: rpx2(10);
  }

  .goods-item {
    background: white;
    border-radius: rpx2(8);
    line-height: rpx2(34);
    box-shadow: 0 0 rpx2(4) rgba(0,0,0,0.1);
    margin-bottom: rpx2(10);
    .status-wrap {
      display: flex;
      align-items: center;
      border-bottom: rpx(1) solid $white-smoke;
      padding: 0 rpx2(10);
      .order-num {}
      .status-text {
        font-weight: bold;
      }
    }

    .right-text {
      padding-right: 10px;
      color: $red;
      font-weight: bold;

      &.right-text2 {
        color: inherit;
      }
    }

    .order-footer {
      display: flex;
      .return-type {
        display: flex;
        align-items: center;
        padding-left: rpx2(10);
        font-size: rpx2(13);
        .icon {
          margin-right: rpx2(5);
          font-size: rpx2(16);
          color: $primary;
        }
      }
    }

    .price-wrap {
      flex: 1;
      text-align: right;
      padding: 0 rpx2(10);
      text {
        font-weight: bold;
        .t1 {
          font-size: rpx2(18);
        }
      }
    }

    .btn-wrap {
      padding: rpx2(10) 0;
      margin: 0 rpx2(10);
      display: -webkit-box;
      -webkit-box-pack: end;

      .btn-item {
        padding: 0 rpx2(14);
        border: rpx(1) solid $primary;
        border-radius: rpx2(14);
        color: $primary;
        line-height: rpx2(28);
        margin-left: rpx2(10);
        font-size: inherit;

        &.btn-item2 {
          background: white;
          color: $text-primary;
          border-color: $black-light;
        }

        &.btn-item3 {
          background: $btn-primary-bg;
          color: #ffffff;
        }
      }

      button.btn-item {
        margin-right: 0;
      }
    }

    .goods-info-wrap {
      display: -webkit-box;
      border-bottom: rpx(1) solid $white-smoke;
      margin: 0 rpx2(10);
      padding: rpx2(10) 0;
      line-height: normal;
      .img {
        width: rpx2(70);
        height: rpx2(70);
        border-radius: rpx2(3);
      }
      .text-wrap {
        -webkit-box-flex: 1;
        box-sizing: border-box;
        padding-left: rpx2(10);
      }
      .title {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        //display:-webkit-box;
        //-webkit-box-orient:vertical;
        //-webkit-line-clamp:1;
        font-size: rpx2(14);
        font-weight: bold;
      }
      .gift {
        display: inline-block;
        width: rpx2(30);
        height: rpx2(14);
        background: rgba(177,203,109,1);
        border-radius: rpx2(4);
        color: white;
        font-size: rpx2(10);
        text-align: center;
        line-height: rpx2(14);
        margin: rpx2(5) rpx2(10) rpx2(10) 0;
      }
      .tags {
        padding: rpx2(8) 0;
        color: white;
        min-height: rpx2(14);
        font-size: rpx2(10);
        .tag {
          height: rpx2(14);
          line-height: rpx2(14);
          display: inline-block;
          padding: 0 rpx2(5);
          margin-right: rpx2(6);
          border-radius: rpx2(8) rpx2(3);
          // 自提
          &.tag1 { background: #65c4aa; }
          // 拼团
          &.tag2 { background: #d4a71e; }
          // 接龙
          &.tag3 { background: #7b8cb7; }
        }
      }
      .info {
        display: -webkit-box;
        -webkit-box-pack: justify;
        color: $text-secondary;
        margin-top: 3px;
      }
      .return-status {
        margin-left: rpx2(40);
        color: $yellow;
        font-size: rpx2(12);
      }
    }

  }

}

