@import "../../../../styles/config";

page {
  background-color: #fff;
}

.page-message-list {
 position: relative;
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .icons-warp {
      width: 44px;
      height: 44px;
      background: rgba(255, 115, 91, 1);
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      font-size: 20px;
      color: #fff;

    }

    .hl {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .hr {
      padding: 20px 0;
      margin-left: 15px;
      width: 100%;
      @include border1px-bottom($white-smoke);

      .hr-l {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .account {
        font-weight: bold;
        color: $black-light;
        margin-bottom: 4px;
        font-size: 16px;
      }

      .dynamic {
        color: $gray-dark;
        width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;

      }
    }

    .hr-r {
      display: flex;
      align-items: center;

      .time {
        color: $gray-dark;
        font-weight: bold;
        font-size: 12px;
      }

      .point {
        margin-left: 5px;
        width: 8px;
        height: 8px;
        background: rgba(255, 86, 56, 1);
        border-radius: 50%;
      }
    }
  }
}
.empty{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  .icons{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color: $white-smoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-empty-xiaoxi{
    font-size: 80px;
    color: #fff;
  }
  .txt{
    margin-top: 28px;
    color: $gray-dark;
    font-size: 15px;
    text-align: center;
  }
}
