@import "../../styles/mixin";

page {
  background: white;
}

.page-explore-detail {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding-bottom: rpx2(50);

  &.active {
    padding-bottom: rpx2(42+$iPhoneX-height);
  }

  &.isVideo {
    padding-top: rpx2(190);
  }

  .video {
    width: 100%;
    height: rpx2(190);
    position: fixed;
    z-index: 555;
    left: 0;
    top: 0;
  }

  .fixed-bottom {
    &.active {
      height: auto;
      padding: 5px rpx2(15) $iPhoneX-height * 1px rpx2(10);
    }

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    height: rpx2(50);
    box-shadow: 0 rpx2(-2) rpx2(2) 0 rgba(0, 0, 0, 0.06);
    display: -webkit-box;
    -webkit-box-align: center;
    padding: 0 rpx2(15) 0 rpx2(10);
    box-sizing: border-box;

    .sm-btn {
      width: rpx2(50);
      text-align: center;
      font-size: rpx2(10);

      .icon {
        font-size: rpx2(16);
      }
    }

    .go-btn {
      -webkit-box-flex: 1;
      background: $btn-primary-bg;
      margin-left: rpx2(10);
      border-radius: rpx2(19);
      color: white;
      height: rpx2(37);
      line-height: rpx2(37);
      font-size: rpx2(16);
      text-align: center;
      font-weight: bold;
    }

    .group-btn {
      display: flex;
      width: rpx2(240);
      margin-left: rpx2(10);

      &-item {
        flex: 1;
        height: rpx2(37);
        line-height: rpx2(37);
        font-size: rpx2(16);
        text-align: center;
        font-weight: bold;
        box-sizing: border-box;
      }
    }

    .buy {
      border-radius: rpx2(100) 0 0 rpx2(100);
      border: rpx2(0.5) solid $border-color;
      border-right: 0;
    }

    .share {
      background: $btn-primary-bg;
      border-radius: 0 rpx2(100) rpx2(100) 0;
      color: white;
    }
  }

  .info-wrap {
    height: 100%;
  }

  .hd-title {
    display: -webkit-box;
    -webkit-box-pack: justify;
    padding: rpx2(14) rpx2(15) 0;
    line-height: rpx2(26);

    .title {
      font-size: rpx2(18);
      color: #3A3A3A;
      font-weight: bold;
    }

    .more {
      font-size: rpx2(14);

      text {
        color: $text-secondary;
        font-size: rpx2(12);
        padding-left: rpx2(2);
      }
    }
  }

  .xxx {
    background-image: linear-gradient(270deg, #ffffff 0%, $white-smoke 10%);
  }

  .goods-img-wrap {
    position: relative;

    .multi-tag {
      position: absolute;
      left: 0;
      top: rpx2(10);
      color: white;
      min-width: rpx2(42);
      height: rpx2(20);
      line-height: rpx2(20);
      background: #EA8A71;
      border-radius: 0 rpx2(100) rpx2(100) 0;
      padding-left: rpx2(5);
      padding-right: rpx2(5);
      box-sizing: border-box;

      text {
        padding-right: rpx2(3);
      }
    }
  }

  .goods-img {
    width: 100%;
  }

  .goods-info-wrap {
    padding: 0 rpx2(15);
    background: white;

    .user-wrap {
      display: -webkit-box;
      -webkit-box-align: center;
      color: $text-secondary;
      border-bottom: rpx(1) solid $border-color;
      padding: rpx2(10) 0;

      .img {
        width: rpx2(28);
        height: rpx2(28);
        border-radius: 50%;
        margin-right: rpx2(10);
      }

      .time {
        -webkit-box-flex: 1;
        text-align: right;
      }
    }

    .good-info {
      line-height: rpx2(20);
      padding-bottom: rpx2(10);
      color: $text-primary;

      .title {
        padding: rpx2(10) 0;
        font-size: rpx2(16);
        font-weight: bold;
      }

      .item {
      }
    }
  }

  .product-info {
    box-shadow: 0 0 rpx2(4) 0 rgba(0, 0, 0, 0.1);
    border-radius: rpx2(8);
    margin: rpx2(10);
    display: -webkit-box;
    -webkit-box-align: center;
    padding: rpx2(10);

    .img {
      width: rpx2(80);
      height: rpx2(80);
      border-radius: rpx2(3);
    }

    .info {
      -webkit-box-flex: 1;
      box-sizing: border-box;
      padding-left: rpx2(10);
    }

    .title {
      font-size: rpx2(15);
      line-height: rpx2(16);
      font-weight: bold;
      margin-bottom: rpx2(6);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .text {
      font-size: rpx2(12);
      line-height: rpx2(14);
      color: $text-secondary;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .price {
      padding-top: rpx2(14);
      color: $text-price;
      font-weight: bold;
      font-size: rpx2(12);

      text {
        font-size: rpx2(18);
      }
    }
  }
}

.copyright {
  padding-bottom: rpx2(50);
}
