@font-face {
  font-family: 'iconfont';  /* project id 885169 */
  src: url('//at.alicdn.com/t/font_885169_gli5hzgoz9t.eot');
  src: url('//at.alicdn.com/t/font_885169_gli5hzgoz9t.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_885169_gli5hzgoz9t.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_885169_gli5hzgoz9t.woff') format('woff'),
  url('//at.alicdn.com/t/font_885169_gli5hzgoz9t.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_885169_gli5hzgoz9t.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont" !important;
  font-size: inherit;
  color: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before { content: "\e665"; }

.icon-map-marker-fill:before { content: "\e62c"; }

.icon-wallet:before { content: "\e62d"; }
.icon-more:before { content: "\e686"; } //首页更多带圈圈
.icon-qrcode:before { content: "\e685"; } //首页员工端二维码
//.icon-share:before { content: "\e684"; } //首页转发  此图标有背景色 飞飞传的
.icon-share:before { content: "\e642"; } //首页转发
.icon-position:before { content: "\e683"; } //首页定位
.icon-to-top:before { content: "\e687"; } //返回顶部

.icon-pack:before { content: "\e62e"; }

.icon-order-cancel:before { content: "\e62f"; }

.icon-shipping-timed:before { content: "\e630"; }

.icon-angle-right:before { content: "\e632"; }

.icon-order-check:before { content: "\e633"; }

.icon-category-o:before { content: "\e634"; }

.icon-fire:before { content: "\e635"; }

.icon-trash:before { content: "\e636"; }

.icon-exclamation-triangle-o:before { content: "\e637"; }

.icon-search:before { content: "\e638"; }

.icon-dowload:before { content: "\e63b"; }

.icon-plus:before { content: "\e63c"; }

.icon-shopping-cart-o:before { content: "\e63e"; }

.icon-circle:before { content: "\e63f"; }

.icon-check-circle:before { content: "\e640"; }

.icon-compass:before { content: "\e641"; }

.icon-share-link:before { content: "\e642"; }

.icon-service:before { content: "\e643"; }

.icon-category:before { content: "\e644"; }

.icon-home-o:before { content: "\e645"; }
.icon-home-new:before { content: "\e6a9"; }

.icon-home:before { content: "\e646"; }

.icon-user-o:before { content: "\e647"; }

.icon-user:before { content: "\e648"; }

.icon-comment:before { content: "\e649"; }

.icon-external-link:before { content: "\e64a"; }

.icon-shopping-cart:before { content: "\e64b"; }

.icon-picture-multi:before { content: "\e64c"; }

.icon-order:before { content: "\e64d"; }

.icon-order-yuan:before { content: "\e64e"; }

.icon-map-marker:before { content: "\e64f"; }

.icon-empty_kehu:before { content: "\e650"; }

.icon-edit:before { content: "\e651"; }

.icon-sort-down:before { content: "\e652"; }

.icon-sort-up:before { content: "\e655"; }

.icon-angle-up:before { content: "\e666"; }

.icon-angle-left:before { content: "\e667"; }

.icon-camera:before { content: "\e653"; }

.icon-minus-circle:before { content: "\e654"; }

.icon-comment2:before { content: "\e656"; }

.icon-wallet-extract:before { content: "\e657"; }

.icon-coupon:before { content: "\e658"; }

.icon-store:before { content: "\e659"; }

.icon-function:before { content: "\e65a"; }

.icon-address:before { content: "\e65b"; }

.icon-gear:before { content: "\e65c"; }

.icon-exclamation-triangle:before { content: "\e668"; }

.icon-share_pengyouquan:before { content: "\e669"; }

.icon-share_weixin:before { content: "\e66a"; }

.icon-times:before { content: "\e66b"; }

.icon-thumbs-up:before { content: "\e66c"; }

.icon-bag-new:before { content: "\e66d"; }

.icon-star:before { content: "\e65d"; }

.icon-times-circle:before { content: "\e68f"; }

.icon-caodong:before { content: "\e690"; }

.icon-eye:before { content: "\e691"; }

.icon-eys-slash:before { content: "\e692"; }

.icon-return:before { content: "\e693"; }

.icon-refund:before { content: "\e694"; }

.icon-aftersales:before { content: "\e695"; }

.icon-coupon1:before { content: "\e6a1"; } //消费者端优惠券
.icon-cart:before { content: "\e698"; }
.icon-empty-cart:before { content: "\e69d"; }
.icon-checkbox:before { content: "\e696"; } //checkbox
.icon-checkbox-checked:before { content: "\e697"; } //checkbox checked
.icon-checkbox-disabled:before { content: "\e6a4"; } //checkbox disabled
.icon-store2:before { content: "\e6a5"; } //门店
.icon-take:before { content: "\e6a8"; } //自提

.icon-success:before { content: "\e66e"; }
.icon-failure:before { content: "\e626"; }
.icon-plus-circle:before { content: "\e6ac"; }
.icon-group:before { content: "\e69f"; }
.icon-empty_order:before { content: "\e69e"; }
.icon-time:before { content: "\e6a0"; }

.icon-jiangli:before {content: "\e6ae";}
.icon-yaoqinghaoyou:before {content: "\e6af";}
.icon-yaoqingXren:before {content: "\e6b0";}
.icon-huodongjiantou:before {content: "\e6b1";}
.icon-pingjiawuxing:before {content: "\e6ab";}
.icon-pingjia:before {content: "\e6aa";}

.icon-heart:before {content: "\e671";}
.icon-heart-o:before {content: "\e66f";}
.icon-message:before {content: "\e670";}
.icon-arrow-down:before { content: "\e663"; }

.icon-shuangjiantou:before {content: "\e65f";}
.icon-chenggong:before {content: "\e672";}

.icon-fenxiao:before {content: "\e6be";}
.icon-yaoqingfenxiao:before {content: "\e6bd";}
.icon-dianputuiguang:before {content: "\e6bc";}
.icon-dianpushezhi:before {content: "\e6bb";}
.icon-wodetuandui:before {content: "\e6ba";}
.icon-yaoqingkehu:before {content: "\e6b9";}
.icon-wodekehu:before {content: "\e6b8";}
.icon-tuiguangfanyong:before {content: "\e6b7";}
.icon-fenxiaoyongjin:before {content: "\e6b6";}
.icon-dingwei:before { content: "\e683" }
.icon-shuangjiantou:before { content: '\e65f' }
.icon-filter:before {content: "\e631";}
.icon-paixu2:before {content: "\e6c4";}
.icon-zuji:before {content: "\e6c3";}
.icon-paixu1:before {content: "\e6c2";}
.icon-nan:before {content: "\e6c1";}
.icon-nv:before {content: "\e6c0";}
.icon-liulan:before {content: "\e6bf";}
.icon-shengyin:before {content: "\e753";}
.icon-zhuanfa1:before {content: "\e6c7";}
.icon-saoma:before {content: "\e6c5";}
.icon-kanjiaempty:before {content: "\e6c9";}
.icon-tishi1:before {content: "\e6ca";}

.icon-qiehuan:before {content: "\e6e6";}
.icon-daohang:before {content: "\e6d9";}
.icon-lianxishangjia::before {content: "\e6da";}

.icon-daifenpei::before {content: "\e6d6";}
.icon-daifuwu::before {content: "\e6d7";}

.icon-xiaofeizhewode-yuyue::before {content: "\e6db";}
.icon-empty-caodongzhibo:before {content: "\e6d1";}
.icon-share:before {content: "\e6d5";}
.icon-order-thick:before {content: "\e6d4";}

.icon-gongsitongzhi:before {content: "\e6cc";}
.icon-xinzengkehu:before {content: "\e6ce";}
.icon-kehuxiadan:before {content: "\e6cb";}
.icon-huodongtongzhi:before {content: "\e6cd";}
.icon-renwutongzhi:before {content: "\e6cf";}
.icon-zhanghubiandong:before {content: "\e6d0";}
.icon-tongzhi-yuyue:before {content: "\e6d8";}
.icon-empty-xiaoxi:before {content: "\e6d2";}

.icon-shijian:before {content: "\e6a0";}


