@import "../../styles/mixin";

$navbar-height: 64px;

page {
  overflow-x: hidden;
  position: relative;
  background: #f7f8fa;
}

// 消费者首页
.page-customer-home {
  //background: #f7f8fa;

  .switch-store {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .content {
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      color: $text-secondary;
      padding-top: 27px;
      padding-left: 22px;
    }

    .highlight {
      margin-left: 5px;
      font-weight: bold;
      color: $primary;
    }

    .close {
      padding: 0 20px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }

    .bg {
      width: 290px;
      height: 70px;
    }
  }

  .guide-tooltip {
    position: fixed;
    top: 0;
    right: 10px;
    width: 206px;
    height: 77px;
    box-sizing: border-box;
    padding: 21px 16px 16px 18px;
    z-index: 99;

    .row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .content {
      position: absolute;
      z-index: 999;
      font-size: 12px;
      line-height: 12px;
      color: $text-secondary;
    }

    .bold {
      display: inline-block;
      color: $text-primary;
      font-weight: bold;
    }

    .dot {
      width: 20px;
      height: 8px;
    }

    .bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 206px;
      height: 77px;
    }
  }

  .no-data-now {
    padding: rpx2(10);
    text-align: center;
    background: white;
  }

  .wrap1 {
    background: white;
    padding-bottom: rpx2(10);

    .link {
      text-align: center;
      padding: 0 rpx2(15);

      .logo {
        display: inline-block;
        width: rpx2(256);
        padding: rpx2(25) 0 rpx2(15);
      }

      .banner {
        width: 100%;
        height: rpx2(156);
        margin: rpx2(10) 0;
        border-radius: rpx2(2);
      }
    }

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: rpx2(60);
      padding: 0 rpx2(15);

      .item {
        display: flex;
        align-items: center;

        .icon-more {
          margin-left: rpx2(2);
        }
      }

      .more {
        font-size: rpx2(14);
      }

      .flower {
        width: rpx2(35);
        height: rpx2(35);
      }

      .title {
        font-weight: bold;
        font-size: rpx2(18);
      }
    }
  }

  .register-notice-wrap {
    height: rpx2(48);

    .register-notice {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      height: rpx2(48);
      color: $text-primary;
      background: rgba(#fff8f2, 0.9);
      display: flex;
      align-items: center;
      padding: 0 rpx2(10) 0 0;
      font-size: rpx2(13);
      z-index: 19;

      .tb {
        padding: 0 rpx2(10);
        font-size: rpx2(14);
        color: #c5c2c3;
        line-height: rpx2(45);
      }

      .message {
        color: $text-primary;
        flex: 1;
      }

      .btn-register {
        width: rpx2(80);
        height: rpx2(28);
        background: linear-gradient(147deg, #ffa700 0%, #ff4800 100%);
        border-radius: rpx2(14);
        font-weight: 500;
        color: white;
        line-height: rpx2(28);
        text-align: center;
      }
    }
  }

  .activity-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1010;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;

    .image-wrap {
      display: block;
      width: rpx2(315);
      height: rpx2(420);
      margin-bottom: rpx2(25);
      margin-top: 80px;

      &.iPad {
        width: rpx2(200);
        height: rpx2(420*200/315);
      }
    }

    .image {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: rpx2(5);
    }

    .tb {
      font-size: rpx2(24);
      color: white;
    }
  }
}

.ui-navigation-bar {
  .btn-search {
    margin-left: 35px;
    font-size: 20px;
  }

  .btn-service {
    font-size: 20px;
    margin-left: 24px;
    position: relative;

    .dot {
      position: absolute;
      top: 0;
      right: -4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fa5151;
    }
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}
