@import "../../../../styles/mixin";
/*@import "/styles/icons.scss";*/
@import "../../../../styles/variables";
/*@import "/styles/common.scss";*/

// 员工首页
.page-staff-home_new {
  overflow-x: hidden;
  background: #fff;

  .header-wrap {
    margin-top: 15px;
    border-radius: 0 0 0 130px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    padding: 0 0 20px 25px;
    display: flex;
    align-items: center;
    background: #ffffff;

    .head {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
    }


    .nickname {
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        height: 29px;
        font-size: 20px;
        font-weight: bold;
        color: $text-primary;
        line-height: 28px;
        margin-right: 5px;
      }

      .mark {
        width: 46px;
        height: 17px;
        line-height: 17px;
        background: $primary-staff;
        border-radius: 9px;
        font-size: 10px;
        color: #ffffff;
        text-align: center;
      }
    }

    .store-name {
      height: 18px;
      font-size: 12px;
      color: $text-secondary;
      line-height: 17px;
    }

    .setting {
      position: absolute;
      right: 24px;
      bottom: 28px;
      font-size: 18px;
      font-weight: bold;
    }
  }


  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;
    // border-bottom: 1px solid rgba(#ffffff, 0.4);
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 27px;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
    }

    .title-icon {
      font-size: 12px;
    }
  }

  .module {
    border-radius: 0 0 0 80px;
    margin-top: -80px;
    padding-top: 80px;

    &.module1 {
      background: #ffffff;
      padding-bottom: 10px;
      position: relative;
      z-index: 99;

      .h {
        height: 34px;
      }

      .wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 5%;
        padding-right: 5%;
      }

      .item {
        width: 20%;
        margin-bottom: 34px;
        text-align: center;
        position: relative;

        .point {
          position: absolute;
          top: 0;
          right: 3px;
          width: 8px;
          height: 8px;
          background: rgba(255, 86, 56, 1);
          border-radius: 50%;
        }

        &.inactive {
          .item-icon {
            filter: grayscale(100%);
          }

          .item-text {
            color: #a4a3ac;
          }
        }

        .item-icon {
          width: 33px;
          height: 33px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .item-text {
          margin-top: 13px;
          text-align: center;
          height: 17px;
          font-size: 12px;
          color: $text-primary;
          line-height: 17px;
        }
      }
    }

    &.module2 {
      color: #ffffff;
      padding-bottom: 34px;
      padding-left: 25px;
      padding-right: 25px;
      position: relative;
      z-index: 98;

      @if ($is-theme-custom) {
        background-color: $primary;
        @include border1px(rgba($white, 0.1));
        &::after {
          left: -36% !important;
          right: -36% !important;
        }
      } @else {
        background-color: #1f1935;
      }

      .h {
        height: 27px;
      }

      .btn {
        padding: 0;
        margin: 0;
        width: 90px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-radius: 18px;
        font-size: 12px;

        @if ($is-theme-custom) {
          color: $primary;
          background-color: #ffffff;
        } @else {
          color: #ffffff;
          background-color: $primary-staff;
        }
      }

      .wrap {
        display: flex;
        align-items: center;

        .item {
          padding-right: 24px;
          margin-right: 23px;
          border-right: 1px solid rgba(#ffffff, 0.4);

          &:last-of-type {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
          }

          .text {
            height: 18px;
            font-size: 12px;
            color: rgba(#ffffff, 0.4);
            line-height: 18px;
          }

          .num {
            font-size: 26px;
            color: #ffffff;
            margin-top: 10px;
          }
        }
      }
    }

    &.module3 {
      background: $primary-staff;
      padding-bottom: 40px;
      padding-left: 25px;
      padding-right: 25px;
      position: relative;
      z-index: 97;

      .h {
        height: 29px;
      }

      .wrap {
        display: flex;

        .item {
          width: 102px;
          height: 134px;
          background: #ffffff;
          box-shadow: 0 2px 25px 0 rgba($primary-staff, 0.65);
          border-radius: 22px;
          margin-right: 10px;
          text-align: center;

          .num {
            height: 22px;
            font-size: 24px;
            font-weight: bold;
            color: $primary-staff;
            line-height: 22px;
            margin-top: 30px;
            margin-bottom: 33px;
          }

          .line {
            width: 10px;
            height: 2px;
            background: $text-primary;
            border-radius: 2px;
            margin: 0 auto;
          }

          .text {
            height: 23px;
            font-size: 12px;
            color: $text-secondary;
            line-height: 22px;
            margin-top: 11px;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    &.module4 {
      background: #f7f8fa;
      padding-bottom: 34px;
      padding-left: 25px;
      padding-right: 25px;
      position: relative;
      z-index: 96;

      .h {
        height: 27px;
      }

      .title-wrap {
        padding-bottom: 0;
        margin-bottom: 13px;
        border-bottom: none;

        .title {
          color: $text-primary;
        }
      }

      .wrap {
        display: flex;
        align-items: center;

        .item {
          padding-right: 35px;
          margin-right: 35px;
          border-right: 1px solid #ececec;

          &:last-of-type {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
          }

          .text {
            height: 18px;
            font-size: 12px;
            color: #A4A3AC;
            line-height: 18px;
          }

          .num {
            font-size: 26px;
            color: $text-primary;
            margin-top: 10px;
          }
        }
      }

      .round {
        box-sizing: border-box;
        width: 324px;
        height: 95px;
        margin: 0 auto 27px;
        background: #ffffff;
        box-shadow: 0 2px 25px 0 #f1f1f1;
        border-radius: 22px;
        padding: 10px 10px 20px;

        .header {
          display: flex;
          align-items: center;
          padding-bottom: 13px;
          border-bottom: 1px solid #ececec;
          margin-bottom: 13px;

          .head {
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }

          .text {
            margin-left: 5px;
            font-size: 12px;
            color: #353443;
          }
        }

        .body {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .head-wrap {
            display: flex;
            align-items: center;

            .head {
              width: 22px;
              height: 22px;
              border-radius: 50%;
              margin-left: -5px;
            }
          }

          .text-wrap {
            display: flex;
            align-items: center;

            .text {
              font-size: 12px;
              color: #353443;
            }

            .my-icon {
              margin-left: 5px;
              color: #353443;
              font-size: 12px;
            }
          }
        }
      }
    }

    &.module5 {
      background: #fff;
      padding-bottom: 39px;
      z-index: 95;

      .h {
        height: 25px;
      }

      .title-wrap {
        margin-left: 25px;
        margin-right: 25px;
        border-bottom-color: #ececec;

        .title {
          color: $text-primary;
        }
      }
    }
  }

  .reset-popup {
    overflow: hidden !important;
    background: none !important;

    .staff-qr {
      overflow: hidden;
      border-radius: 14px 14px 0 0;
      background: rgba(247, 248, 250, 1);
      position: relative;
      padding-top: 37px;

      &.home-qr {
        .home-qr-img {
          margin: 0 auto;
        }
      }

      .close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 14px;
        padding: 13px;
        width: 100%;
        box-sizing: border-box;
        text-align: right;
      }

      .g-btn {
        background: $primary-staff;
        margin-top: 22px;
        margin-bottom: 5px;
      }
    }
  }
}
