@import "../../styles/mixin";

.page-choose-img {
  background: white;
  padding-bottom: rpx2(60);

  .fixed-bottom {
    z-index: 55;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: rpx2(6) rpx2(15);
    box-sizing: border-box;
    .item-btn {
      height:37px;
      line-height: rpx2(37);
      background: $btn-primary-bg;
      border-radius:rpx2(100);
      text-align: center;
      color: white;
      font-size: rpx2(16);
      font-weight: bold;
    }
  }

  .goods-info {
    background: white;
    padding: rpx2(15);
    border-bottom: rpx(1) solid $white-smoke;
    .title {
      padding-bottom: rpx2(8);
      font-size: rpx2(16);
      font-weight: bold;
    }
    .other {
      color: $text-secondary;
    }
  }

  .hd-img {
    background: white;
    padding: 0 rpx2(15);
    .hd-title {
      font-size: rpx2(18);
      line-height: rpx2(55);
      padding-top: rpx2(5);
      font-weight: bold;
    }
    .upload-img-wrap {
      font-size: 0;
      margin-right: rpx2(-15);
      padding-bottom: rpx2(5);
      .item-wrap {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: rpx2(10);
        margin-bottom: rpx2(10);
        border-radius: rpx2(3);
        overflow: hidden;
        .img {
          width: rpx2(108);
          height: rpx2(108);
        }
        .del {
          position: absolute;
          right: rpx2(5);
          top: rpx2(5);
          font-size: rpx2(18);
          color: $red;
          border-radius: 50%;
        }
      }
    }
  }
}

