@import "../../styles/variables";
@import "../../styles/mixin";

.g-vip {
  font-size: 9px;
  background: #2e2e2e;
  color: #e6d1a6;
  padding: 2px 2px 2px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  vertical-align: middle;
  line-height: 1;
  margin-left: 13px;
  margin-bottom: 10px;
  margin-top: -10px;

  &:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 0;
    width: 5px;
    height: 5px;
    background: #2e2e2e;
    transform: translateY(-50%) translateX(0) rotate(45deg);
  }
}
