@import "../../../../styles/config";

page {
  background: #fff;
}

.page-padding {
  padding: 0 20px;
  box-sizing: border-box;
}

.page-cus-m-c-label {
  .title {
    display: flex;
    align-items: center;
    margin-top: 15px;

    .h2 {
      height: 22px;
      font-size: 16px;
      font-weight: bold;
      color: rgba(39, 38, 54, 1);
      line-height: 22px;
    }

    .small {
      margin-left: 10px;
      height: 17px;
      font-size: 12px;
      color: rgba(150, 152, 156, 1);
      line-height: 17px;
    }
  }

  .my-label-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .label {
      margin-top: 15px;
      margin-right: 14px;
      position: relative;
      color: rgba(39, 38, 54, 1);
      font-size: 14px;

      .text {
        width: 102px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        background: rgba(242, 242, 242, 1);
        border-radius: 12px;
        @include ellipsis1();
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      .close {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        color: #fff;
        font-size: 12px;
        width: 16px;
        height: 16px;
        background: rgba(142, 142, 147, 1);
        opacity: 0.5;
        text-align: center;
        line-height: 16px;
        border-radius: 50%;
      }

      &.active {
        .close {
          display: block;
        }
      }
    }

    &.inactive {
      .label {
        color: #96989c;

        .text {
          background: rgba(242, 242, 242, 1);
        }

        .close {
          display: none;
        }
      }
    }
  }
}

.reset-popup {
  overflow: hidden !important;
  background: none !important;
}

.select-label {
  background: #ffffff;
  padding: 30px 20px 17px;
  border-radius: 24px 24px 0 0;
  position: relative;

  .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    color: $text-primary;
    line-height: 22px;
    margin-bottom: 30px;

    &.title_label {
      margin-bottom: 15px;
    }
  }

  .input {
    width: 100%;
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
  }

  .scroll-wrap {
    max-height: 200px;
    overflow-x: hidden;
  }

  .label-wrap {
    //margin-bottom: 37px;
    //max-height: 200px;
    //overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;

    .label {
      width: 100px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      background: $white-smoke;
      border-radius: 12px;
      border: 1px solid transparent;
      margin: 0 17px 15px 0;
      box-sizing: border-box;
      font-size: 14px;
      color: $text-primary;
      @include ellipsis1();

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &.active {
        border-color: $tag-border-color;
        background-color: $tag-bg;
      }
    }
  }

  .btn-wrap {
    padding-top: 10px;

    .g-btn {
      height: 37px;

      &:first-of-type {
        margin-right: 11px;
      }
    }
  }
}

.g-btn {
  &.reset {
    position: fixed;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
  }
}
