@import "../../styles/mixin";
page {
  background: white;
}
.page-activity-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  box-sizing: border-box;
  padding-bottom: 20%;
  .tip {
    position: fixed;
    left: rpx2(15);
    top: rpx2(35);
    font-size: rpx2(14);
  }
  .form {
    box-sizing: border-box;
    padding: rpx2(15);
    width: 100%;
    margin-top: 50px;
    .hd-item {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: rpx2(25);
      border-bottom: rpx(1) solid $border-color;
      line-height: rpx2(38);
      height: rpx2(38);
      font-size: 14px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        box-sizing: border-box;
        flex: 1;
      }
      .code {
        width: rpx2(90);
        height: rpx2(28);
      }
      .get-msg-code {
        display: block;
        background: $btn-disabled-bg;
        border-radius: $btn-border-radius;
        line-height: rpx2(28);
        font-size: rpx2(14);
        color: white;
        padding: 0 rpx2(10);
        margin: 0;
        min-width: rpx2(90);
        box-sizing: border-box;
        text-align: center;
        &.active {
          background: $btn-primary-bg;
        }
      }
      .title {
        flex: 1;
        color: $text-secondary;
        &.active {
          color: $text-primary;
        }
      }
      .icon {
        color: $text-secondary;
      }
    }
    .save {
      margin-top: rpx2(60);
      background: $btn-disabled-bg;
      border-radius: $btn-border-radius;
      line-height: rpx2(45);
      height: rpx2(45);
      text-align: center;
      color: $btn-primary-color;
      font-size: rpx2(18);
      font-weight: bold;
      &.active {
        background: $btn-primary-bg;
      }
    }
  }

}

.placeholder {
  color: $text-secondary;
  font-size: 14px;
}
