@import "../../styles/config";
/*@import "/wxParse/wxParse.scss";*/

page {
  background: #fff;
}

.page {
}

.btn-wrap {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 6px 0;
  width: 100%;
  box-sizing: border-box;

  .g-btn {
    background: $primary-staff;
    height: 38px;
  }
}
